<div class="form-group">
    <label for="manuf">Name</label>
    <input type="text" name="custName" id="custName" class="form-control">
</div>
<div class="form-group">
    <label for="model">Phone</label>
    <input required type="text" name="custPhone" id="custPhone" class="form-control">
</div>
<div class="form-group">
    <label for="cc">Email</label>
    <input required type="text" name="custEmail" id="custEmail" class="form-control">
</div>

<button type="submit" class="btn btn-danger mb float-right"> Contact me</button>