<div class="form-group">
    <label for="manuf">Car Manufacturer</label>
    <input required type="text" name="manuf" id="manuf" class="form-control">
</div>
<div class="form-group">
    <label for="model">Car Model</label>
    <input required type="text" name="model" id="model" class="form-control">
</div>
<div class="form-group">
    <label for="cc">Engine CC</label>
    <input required type="text" name="cc" id="cc" class="form-control">
</div>
<div class="form-group">
    <label for="price">Price</label>
    <input required type="text" name="price" id="price" class="form-control">
</div>

<div class="form-group">
    <label for="size">Car Size:</label>
    <select required class="custom-select" name="size" id="size">
      <option value="0">Small</option>
      <option value="1">Medium</option>
      <option value="2">SUV</option>
      <option value="3">Professional</option>
    </select>
  </div>
<a href="/admin" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary mb"> Save</button>