<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>FlexCar</title>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                FlexCar Administration Panel</a>
            <ul class="nav sticky-top navbar-expand-lg navbar-light fixed-top"> 
                <li class="mr-4"><a href="/cars"> Cars</a></li>
                <li class="mr-4"><a href="/faq"> FAQ</a></li>
                <li class="mr-4"><a href="/contact"> Contact us</a></li>
            </ul>  
        </div>
    </nav>
</head>
<body>
      <div class="row mx-auto">
        <div class="col-md-8 mx-auto">
        <div class="card-deck justify-content-center">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Manage Car Fleet</h5>
          <p class="card-text">Add or remove listed cars.</p>
          <a href="/admin/new" class="btn mb">Add Cars</a>
          <a href="/admin/delete" class="btn mb">Delete Cars</a>
                    </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Admin Panel</h5>
                  <p class="card-text">Manage contact requests.</p>
                  <a href="/admin/tickets" class="btn">Tickets</a> 
                            </div>
                            </div>
        
        
        
         
        
        </form>
        

</body>
</html>